<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
  			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
       		http://www.springframework.org/schema/context
       		http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true"><!-- 懒加载 -->

    <!-- 添加注解驱动 -->
    <mvc:annotation-driven />
    <mvc:default-servlet-handler/>

    <!-- 默认扫描的包路径 -->
    <context:component-scan base-package="org.caisezhaopian.SSMWebDemo.controller" />

    <!-- 通过mvc:resources设置静态资源，这样servlet就会处理这些静态资源，而不通过控制器 -->
    <!-- 设置不过滤内容，比如:css,jquery,img 等资源文件 -->
    <!--<mvc:resources location="/WEB-INF/" mapping="/html/**" />-->
    <mvc:resources location="classpath:/script/" mapping="/script/**" />
    <mvc:resources location="classpath:/style/" mapping="/style/**" />
    <mvc:resources location="classpath:/images/" mapping="/images/*" />

    <!-- mvc:view-controller可以在不需要Controller处理request的情况，转向到设置的View -->
    <!-- 像下面这样设置，如果请求为/，则不通过controller，而直接解析为/index.jsp -->
    <!--<mvc:view-controller path="/" view-name="index" />-->

    <!-- 配置Html试图解析器 -->
    <bean id="htmlViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--视图解析器优先级，越小越高优先级 -->
        <property name="order" value="0" />
        <!-- 新建一个html的解析器，该解析器要继承 InternalResourceView 并且重写 checkResource方法 -->
        <property name="viewClass" value="org.caisezhaopian.SSMWebDemo.controller.todo.HtmlResourceView" />
        <!-- 配置html路径前缀 -->
        <property name="prefix" value="/WEB-INF/" />
        <!-- 配置URl后缀 -->
        <property name="suffix" value=".html"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>

    <!-- jsp视图解析器 -->
    <bean id="jspViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 定义模板顺序 -->
        <property name="order" value="1" />
        <!-- 如果配置的有html视图解析器，不能用JstlView -->
        <!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> -->
        <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView" />
        <!-- 配置jsp路径前缀 -->
        <property name="prefix" value="/WEB-INF/"/>
        <!-- 配置URl后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>